{% extends 'main.html' %}
{% block title %}
ShopKart | Online Shopping
{% endblock title %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css'}">

{% block content %}
{% include 'slider.html' %}
  <div class="container" style="margin-top:70px;" >
    <div class="row">
      <div class="col-12">
        <h4 class="mb-3"> Latest Offers</h4>
        <hr style="border-color:#b8bfc2;">
      </div>
      {% for item in products %}
      <div class="col-md-4 col-lg-3 colbox">
        {% if products.trending %}
        <div class="hot">Hot</div>
        {% endif %}
        <div class="card my-3 colbox2">
          <img src="{{item.product_image.url}}"  class="card-image-top colimg" height="200px" width="200px" alt="Categories">
          <a href="{% url 'product_details' item.category.name item.name %}">
          <div class="card-body">
            <h5 class="card-title text-primary">{{ item.name }}</h5>
          </div>
        </a>
            <span class="card-text" >
              <span class="new_price">Rs.{{ item.selling_price | stringformat:'d' }}</span>
              <br><br>
              <span class="old_price"><s>Rs.{{ item.original_price | stringformat:'d'}}</s></span>
              <br>
              <p>Inclusive of all taxes</p>
            </span>
          
        
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <br>
{% endblock content %}